---
import type { MarkdownHeading } from "astro";
import { generateToc } from "@/utils/generateToc";
import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: MarkdownHeading[];
	title: string;
}

const { headings, title } = Astro.props;

const toc = generateToc(headings);
---

<nav>
	<a class="silva-toc-title" href="#blog-hero">{title}</a>
	<ol>
		{toc.map((heading) => <TOCHeading heading={heading} />)}
	</ol>
</nav>
